.button {
  font-size: x-large;
  display: flex;
  text-decoration: none;
  background-color: bisque;
  box-shadow: 10px 10px red;
  border-radius: 35px;
  margin: 10px;
  height: 40px;
  min-width: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

.link {
  width: 100%;
  text-align: center;
  line-height: 40px;
}
