.container {
  height: 100%;
  width: 100%;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
}

.topSection {
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 100%;
}

.middleSection {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.answerCard {
  height: 40%;
  width: 40%;
  font-family: "headlineFont";
  font-size: 60px;
  background-color: red;
  color: yellow;
  line-height: 5.75vh;
  border: none;
  border-radius: 35px;

  &:hover {
    cursor: pointer;
  }
}

.bottomSection {
  text-align: center;
  height: 6vh;
  width: 100%;
  font-family: "headlineFont";
  font-size: 60px;
  background-color: red;
  color: yellow;
  line-height: 5.75vh;
}

.submitButton {
  font-family: "headlineFont";
  font-size: 60px;
  background-color: red;
  color: yellow;
  line-height: 5.75vh;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
